/* Start of Navbar settings */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7.5vh;
    background-color: $orange-web;
    font-family: $font-2;

    .nav-links   {
        display: flex;
        justify-content: space-around;

        li  {
            list-style: none;
        }

        a   {
            color: white;
            text-decoration: none;
            letter-spacing: 2px;
            font-weight: bold;
            font-size: 24px;
            text-transform: uppercase;
        }
    }

    .burger {
        display: none;
        cursor: pointer;

        div {
            width: 25px;
            height: 3px;
            margin: 3px;
            background-color: $black;
        }
    }    
}

.home-button    {
    i  {
        color: $white;
        font-size: 20px;
    }
}

.page-container {
    display: flex;
    flex-direction: column;
    background-color: $oxford-blue;
    margin: 7.5vh 5vh;
    border-radius: 15px;
    min-height: 77.5vh;
}

/* Start of media query settings for mobile & tablet */ 
@media screen and (max-width: 800px){
    body    {
        overflow-x: hidden;
    }

    .page-container {
        margin: 0 5vh 7.5vh 5vh;
        min-height: 85vh;
    }

    .navbar  {
        background-color: $black;
    
        .burger {
            display: block;
            margin-left: 40vw;
            
            div {
                background-color: $orange-web;
            }
        }
    }

    .home-button  {
        i  {
            color: $orange-web;
            font-size: 20px;
        }
    }

    .nav-links  {
        position: fixed;
        right: 0px;
        height: 92.5vh;
        top: 7.5vh;
        background-color: $orange-web;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
}

/* End of media query settings for mobile & tablet */

/* Media query for between mobile & tablet for more responsiveness */
@media screen and (min-width: 801px){
    .nav-links  {
        width: 90%;
    }
}


/* Start of media query for browser */
@media screen and (min-width: 1024px){
    .nav-links  {
        width: 70%;
    }
}
/* End of media query for browser */

.nav-active {
    transform: translateX(0%);
}
/* End of Navbar settings */