/* Start of settings for mobile by default */
#mainpage-content   {
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1  {
        display: block;
        color: $orange-web;
        font-size: 28px;
        font-family: $font-1;
        text-align: center;
        margin: 2vh 2vw;
    }

    h2  {
        display: block;
        color: $black;
        font-size: 28px;
        font-family: $font-1;
        text-align: center;
        margin: 2vh 2vw;
        background-color: $orange-web
    }

    p {
        display: block;
        font-family: $font-2;
        color: $platinum;
        font-size: 24px;
        text-align: center;
        margin: 2vh 2vw;
        
    }

    #mobile-only  {
        img {
            height: 20px;
            width: 20px;
        }

        a   {
            text-decoration: none;
            color: $platinum;
        }
    }
    /* Only shows up on browser pixels */
    #desktop-only  {
        display: none;
        font-size: 32px;
        margin: 3vh 3vw;
    }

    .skill-icon  {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 2px;
        border-color: $orange-web;
        border-radius: 10px; 
        margin: 2vh;
        
        li  {
            display: inline-block;

            img {
                width: 150px;
                height: 150px;
                margin: 20px;
            }
        }
    }

}
/* End of mobile settings by default */

/* Start of media query for browser */
@media screen and (min-width: 801px){
    #mainpage-content   {
        width: 50vw;

        h1  {
            font-size: 36px;
            margin: 3vh 3vw;  
        }

        h2  {
            font-size: 32px;
            margin: 3vh 3vw;
        }
    
        p  {
            font-size: 32px;
            margin: 3vh 3vw;  
        }
        
        /* Only shows up on mobile pixels */
        #mobile-only  {
            display: none;
        }

        #desktop-only  {
            display: block;
        }

        .skill-icon  {
            margin: 5vh;    

            li  {
                img {
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }  
}
/* End of media query for browser */
